.nopeContainer {
  height: 69vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzaContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
}

.searchBar {
  border: 2px solid #3977db;
  border-radius: 20px;
  width: 30rem;
  background-color: transparent;
  padding: 16px;
  outline: none;
  align-self: center;
}

.searchBar::placeholder {
  color: #3977db;
  font-weight: 700;
  font-size: 16px;
}

.pizzaItem {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.pizzaItem:hover {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
}

.pizzaImageBox {
  overflow: hidden;
  display: flex;
}

.pizzaImage {
  width: 20rem;
  height: 20rem;
}

.pizzaImage:hover {
  transform: scale(1.1);
  transition: transform 1s ease-out;
}

.pizzaText {
  text-align: center;
  background-color: #3977db;
}

.pizzaHeader {
  font-weight: 800;
  font-size: 17px;
  color: #3977db;
}

.pizzaToppings {
  text-transform: capitalize;
  font-size: 16px;
}

.pizzaPrice {
  font-style: italic;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .searchBar {
    width: 100%;
  }
}
